extends _layout 

block content  
  section#appMainDashboard.bg-gray
    div.container
      div.header_secondary.flex.flex-justify-center
        p.m-20.header_secondary_link-active My UI Kits
      hr
    div#appMainKitList.dashboard-kit-cards
      .kit__card
        .kit__thumbnail
          img.kit__thumbnail-img(src='/img/logo-agency/default-agency-logo.png')
          h2.kit__name Carbon Builder
          p.kit__text Node.js
      .kit__card
        .kit__thumbnail
          img.kit__thumbnail-img(src='/img/logo-agency/default-agency-logo.png')
          h2.kit__name Carbon Builder
          p.kit__text Node.js
      .kit__card
        .kit__thumbnail
          img.kit__thumbnail-img(src='/img/logo-agency/default-agency-logo.png')
          h2.kit__name Carbon Builder
          p.kit__text Node.js
      .kit__card
        .kit__thumbnail
          img.kit__thumbnail-img(src='/img/logo-agency/default-agency-logo.png')
          h2.kit__name Carbon Builder
          p.kit__text Node.js